[Unit]
Description=Cleanup expired docker ephemeral users
After=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/docker-ephemeral-cleanup.sh
User=root
